/* Week Six: Home Page */
/* Website for Brewed Awakening Coffee */
/* Allison Adolphson ICT 4515 Usability Design for Websites */
/* CSS File */

/* Table of Contents 
---------------------------------------
- Base Styles
- Navigation Bar
- Footer
*/

/* Base Styles */
article.homepage {
    height: calc(100vh - 205px);
    margin-top: 105px;
}
article.subpage, div.subpage {
    background-color: #DCDCDC;
    margin-top: 105px;
}
body.homepage {
    overflow: hidden;
}
h1 {
    color: #DCDCDC;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
h2 {
    color: #DCDCDC;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-style: italic;
}
h3 {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
}
h4 {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}
h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 5px;
    line-height: 1.6;
}
img {
    opacity: .85;
}

/* Navigation */
.logo {
    height: 95px;
}
.navbar {
    background-color: #000000;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 0;
    text-transform: uppercase;
}
.navbar-nav {
    margin-right: 15px;
    padding: 0 40px 0 0;
    text-align: center;
}
.nav-link {
    color: #DCDCDC;
}
.nav-link.active {
    color: #8B4513;
    font-weight: bold;
}
.nav-link:hover {
    color: #A9A9A9;
}
/* Footer */
.footer {
    background-color: #000000;
    display: flex;
    height: 105px;
    justify-content: space-between;
    width: 100%;
}
.footer .footerDetails {
    color: #DCDCDC;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 0 0 0 55px;
    text-transform: uppercase;
}
.footerContainer {
    align-items: center;
    display: flex;
}
footer .socialMediaConnect {
    display: block;
    padding: 40px 55px 40px 0;
}
footer .socialMediaLink {
    color: #8B4513;
    font-size: 25px;
    margin-left: 15px;
    text-decoration: none;
}
footer .socialMediaLink:hover {
    color: #A9A9A9;
}
footer span {
    display: block;
}

/* Media Queries */
@media (min-width: 769px) {
    /* Properties for Large Display */
    }
@media (max-width: 780px) {
    /* Properties for Medium Display */
    /* Navigation */
    .logo {
        margin: 0;
        width: 300px;
    }
    #navbarNavAltMarkup {
        margin-left: -25px;
    }
    .navbar-nav {
        margin-right: 25px;
    }
}
@media (max-width: 480px) {
    /* Properties for Small Display */
    /* Navigation */
    .navbar-brand {
        margin: 0;
        margin-left: -25px
    }
    .navbar-toggler {
        margin: 0;
        margin-right: 5px;
    }
    .logo {
        width: 300px;
    }
    .navbar-nav {
        padding: 0;
        margin: 0;
    }
    .navbar .navbar-collapse {
        text-align: center;
        }
    .navbar-toggler-icon {
        color: #A9A9A9;
    }
    /* Footer */
    .footer {
        display: inline-block;
        height: 157px;
        width: 100%;
    }
    .footerContainer {
        display: flex;
        justify-content: space-between;
        padding: 25px;
    }
    .footer .footerDetails{
        padding: 0;
    }
    .footer .footerDetails.hours {
        text-align: right;
    }
    .footer .socialMediaConnect {
        display: flex;
        justify-content: center;
        padding: 0 0 25px 0;
    }
    .footer .socialMediaLink {
        font-size: 18px;
    }
}
@media (max-height: 420px) {
    /* Properties for Medium Display */
    /* Navigation */
    .navbar-nav {
        padding: 0;
        margin: 0;
        margin-right: 20px;
    }
    .navbar .navbar-collapse {
        text-align: center;
        }
    .navbar-toggler {
        margin-right: 20px;
    }
    .navbar-toggler-icon {
        color: #A9A9A9;
    }
}