/* Week Six: Home Page */
/* Website for Brewed Awakening Coffee */
/* Allison Adolphson ICT 4515 Usability Design for Websites */
/* CSS File */

/* Table of Contents 
---------------------------------------
- Base Styles
- Navigation Bar
- About
- Menu
- Shop
- Contact
- Gallery
- Footer
*/

/* Banners */
.banner {
    align-items: center;
    background-image: url("/images/assets/Banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: right;
    display: flex;
    height: 30vh;
    justify-content: center;
    opacity: .85;
}
.bannerCard {
    background-color: #2F4F4F;
    opacity: .9;
    text-align: center;
    padding: 0 50px 20px 50px;
    width: 50vw;
}
.mapBanner {
    height: 30vh;
    overflow: hidden;
    position: relative;
}
.mapBanner iframe {
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.mapContainer {
    height: 30vh;
}
.title {
    height: 120px;
    opacity: .9;
}

/* About */
.aboutContent {
    display: flex;
    padding: 0 25px 25px 25px;
}
.aboutImages {
    display: flex;
    overflow-x: hidden;
    width: 100%;
}
.alignText {
    display: inline-flex;
}
.cardText {
    padding-top: 25px;
}
.column {
    display: inline-block;
    width: 33%;
}
.columnCard {
    display: inline-block;
    padding: 0 25px 0 25px;
    width: 33%;
}
.columnCard p {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: justify;
}
.columnCard .link {
    color: #2F4F4F;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.columnCard .link:hover {
    color: #8B4513;
}
.columnImages {
    display: flex;
    align-items: center;
    padding-right: 50px;
}
.definition {
    padding: 50px 50px 50px 50px;
}
.imgText {
    position: relative;
    text-align: center;
}
.imgTextBanner {
    background-color: #2F4F4F;
    left: 50%;
    opacity: .9;
    position: absolute;
    padding: 10px 0 8px 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
}
.smSquare {
    object-fit: cover;
    opacity: .85;
    padding: 20px 0 20px 20px;
    width: 100%;
}
.textRec {
    width: 75%;
}

/* Menu */
.menuFilterBtn {
    background-color: #000;
    border: none;
    color: #DCDCDC;
    font-size: 16px;
    margin: 0 10px 0 10px;
    opacity: .85;
    padding: 10px 25px 10px 25px;
    text-align: center;
    text-decoration: none;
    width: 140px;
}
.menuFilterBtn:hover {
    color: #fff;
}
.menuFilterRow {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.menuCard {
    background-color: #000;
    opacity: .85;
    padding: 25px;
}
.menuCard h1 {
    border-bottom: 2px solid #8B4513;
    color: #8B4513;
}
.menuCard h2 {
    color: #494949;
}
.menuCard p {
    color: #DCDCDC;
    margin: 0;
    padding-bottom: 10px;
}
.menuGrid {
    column-gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    row-gap: 25px;
}

/* Shop */

/* Contact */
article.subpage2 {
    height: calc(100vh - 205px);
    margin-top: 105px;
}
.bi {
    padding-bottom: 5px;
}
.cCLeft {
    padding-right: 10px;
    width: 40%;
}
.cCRight {
    padding-left: 15px;
    text-align: center;
    width: 20%;
}
.contactBtn {
    background-color: #2F4F4F;
    border: none;
    color: #DCDCDC;
    font-size: 16px;
    padding: 10px 25px 10px 25px;
    text-align: center;
    text-decoration: none;
}
.contactBtn:hover {
    color: #fff;
}
.contact {
    align-items: center;
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: right;
    display: flex;
    height: 30vh;
    justify-content: center;
    opacity: .85;
}
.contactCard {
    background-color: #2F4F4F;
    opacity: .9;
    text-align: center;
    padding: 0 50px 20px 50px;
    width: 50vw;
}
.contactContent {
    display: flex;
    justify-content: center;
}
.contactColumn {
    padding-top: 50px;
}
.contactForm {
    background-color: #DCDCDC;
    padding: 0 20px 20px 20px;
}
.contactItem {
    padding-bottom: 25px;
}
.contactTitle {
    text-align: center;
}
.contactTitle h1 {
    color: #8B4513;
    margin: 0;
}
.form-control {
    background-color: #DCDCDC;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
.submitContainer {
    text-align: center;
    width: 100%;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #2F4F4F;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(47, 79, 79, .8);
}

/* Media Queries */
@media (min-width: 769px) {
/* Properties for Large Display */
}
@media (max-width: 780px) {
    /* Properties for Medium Display */
    /* About */
    .aboutContent {
        display: block;
    }
    .bannerCard {
        width: 75vw;
    }
    .columnCard {
        margin-bottom: 25px;
        width: 100%;
    }
    .columnCard p:last-child {
        margin: 0;
    }
    .columnImages {
        display: grid;
        grid-column-gap: 25px;
        grid-template-columns: 1fr 1fr;
    }
    .smSquare {
        padding: 0;
    }
}
@media (max-width: 480px) {
    /* Properties for Small Display */
    /* About */
    .bannerCard {
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
    .bannerCard h5 {
        font-size: 12px;
        margin-top: -20px;
    }
    .aboutContent {
        margin-top: 25px;
    }
    .columnImages {
        display: none;
    }
    .definition {
        display: none;
    }
    .title {
        height: 100px;
    }
}
@media (max-height: 420px) {
    /* Properties for Medium Display */
}